<section class="pb-20 relative block bg-gray-900">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20" style="height: 80px; transform: translateZ(0px);">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-900 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4 lg:pt-24 lg:pb-24">
    <div class="flex flex-wrap text-center justify-center">
      <div class="w-full lg:w-6/12 px-4">
        <h2 class="text-4xl font-semibold text-white">Well Documented</h2>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
          Learn more on how to use YASSB<br>and how it can help you build awesome static websites.
        </p>
      </div>
    </div>
    <div class="flex flex-wrap mt-12 justify-center">

      <div class="w-full lg:w-3/12 px-4 text-center">
        <div>
          <a class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center" href="/guides">
            <i class="fas fa-book text-xl"></i>
          </a>
        </div>
        <div class="mt-5">
          <a class="text-xl font-semibold text-white" href="/guides">
            Guides
          </a>
        </div>
        <div class="mt-2">
          <a class="mb-4 text-gray-500" href="/guides">
            A comprehensive explaination of how to use YASSB, with examples and code snippets.
          </a>
        </div>
      </div>

      <div class="w-full lg:w-3/12 px-4 text-center">
        <div>
          <a class="text-gray-900 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center" href="/docs">
            <i class="far fa-file-alt text-xl"></i>
          </a>
        </div>
        <div class="mt-5">
          <a class="text-xl font-semibold text-white" href="/docs">
            Docs
          </a>
        </div>
        <div class="mt-2">
          <a class="mb-4 text-gray-500" href="/docs">
            Find out how YASSB works under the hood, with exhaustive comments and types descriptions.
          </a>
        </div>
      </div>
    </div>
  </div>
</section>