<div class="container px-4 mx-auto flex flex-wrap items-center justify-between z-50">
  <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
    <a class="text-lg font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white" href="/"><i class="fas fa-filter"></i> YASSB</a><button
      class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" onclick="toggleNavbar('example-collapse-navbar')">
      <i class="text-white fas fa-bars"></i>
    </button>
  </div>
  <div class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden" id="example-collapse-navbar">
    <ul class="flex flex-col lg:flex-row list-none mr-auto">
      <li class="flex items-center">
        <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="/guides"><i class="lg:text-gray-300 text-gray-500 fas fa-book text-lg leading-lg mr-2"></i>
          Guides</a>
      </li>
      <li class="pl-6 lg:hidden">
        <!-- public-file-list="guides" renderer="guidesNavbarMenu" -->
      </li>
      <li class="flex items-center">
        <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="/docs"><i class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"></i>
          Docs</a>
      </li>
    </ul>
    <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
      <li class="flex items-center">
        <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="https://www.npmjs.com/package/yassb-web"><i
            class="lg:text-gray-300 text-gray-500 fab fa-npm text-xl leading-xl "></i><span class="lg:hidden inline-block ml-2">Package</span></a>
      </li>
      <li class="flex items-center">
        <a class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" href="https://github.com/YASSB-FOSS/yassb"><i
            class="lg:text-gray-300 text-gray-500 fab fa-github text-xl leading-xl "></i><span class="lg:hidden inline-block ml-2">Source Code</span></a>
      </li>
    </ul>
  </div>
</div>